/*-----menu formatting1-----*/
.menu1 {
    background-color: blueviolet;
    overflow: hidden;
    width: 200px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*-----sidebar1-----*/
#side1 {
    z-index: 1;
    top : 0;
    left: 0;
    color: white;
    margin-left: 308px;
    margin-top: 250px;
    overflow-x: hidden;
    position: absolute;
}

/*-----menu formatting2-----*/
.menu2 {
    background-color: blueviolet;
    overflow: hidden;
    width: 200px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*-----sidebar2-----*/
#side2 {
    z-index: 1;
    top : 0;
    left: 0;
    color: white;
    margin-left: 1007px;
    margin-top: 250px;
    overflow-x: hidden;
    position: absolute;
}

/*-----main box-----*/
#mainbox {
    background-color: brown;
    width: 500px;
    height: 500px;
    margin-left: 500px;
    margin-top: 100px;
    position: absolute;
}

#box1 {
    background-color: burlywood;
    width: 25px;
    height: 50px;
    margin-left: 600px ;
    margin-top: 200px;
    position: absolute;
}

#box2 {
    background-color: burlywood;
    width: 100px;
    height: 25px;
    margin-left: 700px ;
    margin-top: 500px;
    position: absolute;
}

#box3 {
    background-color: burlywood;
    width: 25px;
    height: 100px;
    margin-left: 725px ;
    margin-top: 100px;
    position: absolute;
}

#box4 {
    background-color: burlywood;
    width: 130px;
    height: 25px;
    margin-left: 725px ;
    margin-top: 200px;
    position: absolute;
}

#box5 {
    background-color: burlywood;
    width: 75px;
    height: 75px;
    margin-left: 650px ;
    margin-top: 350px;
    position: absolute;
}

#box6 {
    background-color: burlywood;
    width: 25px;
    height: 75px;
    margin-left: 900px ;
    margin-top: 320px;
    position: absolute;
}

#healthtext {
    background-color: white;
    width: 50px;
    height: 25px;
    margin-left: 1100px;
    margin-top: 27px;
    position: absolute;
    font-size: 17px;
}

.health {
    background-color: white;
    color: black;
    overflow: hidden;
    width: 175px;
    height: 75px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#healthboxempty {
    background-color: white;
    width: 100px;
    height: 13px;
    margin-top: 45px;
    margin-left: 1158px;
    position: absolute;
}

#healthboxfill {
    background-color: green;
    width: 49px;
    height: 10px;
    margin-top: 49px;
    margin-left: 1160px;
    position: absolute;
}
